<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="height: 15%;"></div>
  <ion-card class="centerLogin ion-padding">
    <ion-title class="ion-padding ion-text-center" style="color: white;">Crea tu usuario!</ion-title>
        <ion-input labelPlacement="floating" label="Correo" [(ngModel)]="mdl_correo"></ion-input>
        <ion-input labelPlacement="floating" label="Nombres" [(ngModel)]="mdl_nombre"></ion-input>
        <ion-input labelPlacement="floating" label="Contraseña" [(ngModel)]="mdl_contrasena1"></ion-input>
        <ion-input labelPlacement="floating" label="Confirmar Contraseña" [(ngModel)]="mdl_contrasena2" (ngModelChange)="boton()"></ion-input>
    <ion-button expand="block" class="ion-padding" (click)="crearcuenta()" [disabled]="!activo" [fill]="relleno">
      Crear cuenta!
    </ion-button>
  </ion-card>
  <ion-toast
    [isOpen]="isToastOpen"
    [message]="mensaje"
    [duration]="2000"
    (didDismiss)="setOpen(false)"
  ></ion-toast>
</ion-content>
