<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-input labelPlacement="floating" label="Usuario" [(ngModel)]="mdl_user"></ion-input>
  <ion-input labelPlacement="floating" label="Contraseña" [(ngModel)]="mdl_pass" class="ion-margin-bottom"></ion-input>
 <ion-button expand="block" (click)="login()" color="success">
    Ingresar
  </ion-button>
  <ion-button expand="block" (click)="crearusuario()">
    Crear Cuenta
  </ion-button>
</ion-content>
