<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="perfil()">
        <ion-icon name="person-circle" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button id="abrir">
        <ion-icon name="exit-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="width: 100%;">Bienvenido: {{ nombre }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="fixed-content">
    <ion-img src="assets/img/ListadeSedes.png"></ion-img>
  </div>
  <ion-card *ngFor="let sede of listaSedes" class="ion-margin-bottom ion-margin-top">
    <img src="{{sede.imagen}}" alt="">
    <ion-item>{{sede.nombre}}</ion-item>
    <ion-item>Direccion: {{sede.direccion}}</ion-item>
    <ion-item>Telefono de Atencion:<a href="tel:{{sede.telefono}}" style="padding-left: 10px;">{{sede.telefono}}</a></ion-item>
    <ion-item>Horario de Atencion: {{sede.horario}}</ion-item>
  </ion-card>
  <ion-modal trigger="abrir" [initialBreakpoint]=".20" [breakpoints]="[0, 1]">
    <ng-template>
      <div class="ion-text-center">
        <ion-title class="ion-padding">Cerrar Sesion?</ion-title>
        <div class="ion-padding">
          <ion-button expand="block" (click)="dismissModal()" color="medium">Volver</ion-button>
          <ion-button color="danger" expand="block" (click)="salir()">Salir</ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>
