<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button slot="icon-only" (click)="volver()">
        <ion-icon name="exit-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Perfil de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="fullheight"></div>
  <ion-card class="centerLogin ion-padding">
    <ion-title class="ion-text-center ion-margin-bottom">
      Modifica tus datos
    </ion-title>
      <ion-grid>
        <ion-row>
          <ion-col>Nombre:</ion-col>
          <ion-col size="9">{{nombre}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Correo:</ion-col>
          <ion-col size="9">{{correo}}</ion-col>
        </ion-row>
      </ion-grid>
      <ion-title class="ion-text-center ion-margin-top">
        Modifica tu contraseña
      </ion-title>
      <ion-input type="password" label="Contraseña Actual" labelPlacement="floating" [(ngModel)]="passAnterior" class="ion-margin-top">
        <ion-input-password-toggle slot="end" color="dark"></ion-input-password-toggle>
      </ion-input>
      <ion-input type="password" label="Contraseña Nueva" labelPlacement="floating" [(ngModel)]="passNueva" (ngModelChange)="boton()">
        <ion-input-password-toggle slot="end" color="dark"></ion-input-password-toggle>
      </ion-input>
    <ion-button [fill]="relleno" [color]="color" expand="block" [disabled]="!activo" class="ion-margin-top" (click)="cambioPass()">
      Cambiar Contraseña
    </ion-button>
  </ion-card>
  <ion-toast
  [isOpen]="isToastOpen"
  [message]="mensaje"
  [duration]="2000"
  (didDismiss)="setOpen(false)"
></ion-toast>
</ion-content>
