<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="perfil()">
        <ion-icon name="person-circle" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="volver()">
        <ion-icon name="exit-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Bienvenido: {{mdl_nombre}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-title>
    un monton de weas
  </ion-title>
</ion-content>
